body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    .content{
        width: 70%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        .trou{
            width: 40px;
            height: 40px;
            margin: 5%;
            background-color: rgb(182, 157, 157);
            border: 1px solid black;
            border-radius: 50%;
        }
        .score{
            width: 100%;
            height: 40px;
            margin-top: 15%;
            background-color: rgb(182, 157, 157);
            border: 1px solid black;
            p{
                width: 100%;
            }
        }
    }
}